<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OneProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3431EA901CC9BC5D003DEE54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3431EAAC1CC9BC5D003DEE54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3431EAB71CC9BC5D003DEE54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
